@import "tailwindcss";

:root {
    font-family: Comfortaa, "Comfortaa", cursive;
}

@theme {
    --color-themeGreen: #71C975;
    --color-themeOrange: #FF9854;
    --color-hat: #BEB296;
    --color-hatTitle: #b15409;
    --color-pageTitle: #6D3B09;
    --color-homeTitle: #D4710E;
    --color-locationTitle: #755F06;
    --color-locationText: #8B7B3B;
    --color-hatStrip: 91 81 85;
    --color-stripBorder: #b8a498;
    --breakpoint-tn: 450px;
}

@utility comfortaa-300 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
@utility comfortaa-400 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@utility comfortaa-500 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
@utility comfortaa-600 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
@utility comfortaa-700 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

@utility font-roboto {
    font-family: "Roboto", sans-serif;
}

@utility scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@font-face {
    font-family: "Roboto";
    src: url("@/assets/fonts/Roboto-Variable.ttf") format("truetype");
    font-weight: 100 900;
}

.font__Home-header {
    @apply text-hatTitle comfortaa-700;
    text-shadow: 4px 4px 5px rgba(120, 84, 9, 0.25);
    font-size: clamp(25px, 2.22vw, 45px);
}

.font__Home-body {
    position: relative;
    z-index: 2;
    @apply text-homeTitle comfortaa-700;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

/*.font__Home-body::before {*/
/*    content: attr(data-text);*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    color: transparent;*/
/*    -webkit-text-stroke: 0.0176em #7c6969;*/
/*}*/

.font_Stroked {
    position: relative;
    z-index: 0;
}

.font_Stroked::after {
    content: attr(data-text);

    position: absolute;
    inset: 0;
    z-index: -1;

    color: transparent;
    -webkit-text-stroke: 0.0176em #7c6969;

}

.font__nav__link--wide {
    font-size: clamp(8px, 1.8vw, 20px);
}

.font__nav__link--slim {
    font-size: 7vw;
    color: #8bb089;
}

.font__nav__link--wide,
.font__nav__link--slim {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
}

/* масштабируем внешний span */
.scale--hovered {
    display: inline-grid;
    place-items: center;
    transition: transform 0.3s ease;
    transform-origin: center;
}

@media (hover: hover) and (pointer: fine) {
    .font__nav__link--wide:hover .scale--hovered,
    .font__nav__link--slim:hover .scale--hovered {
        transform: scale(1.2);
    }
}

@media (hover: none) and (pointer: coarse) {
    .scale--hovered {
        transition: transform 0.2s ease;
    }

    .font__nav__link--wide:active .scale--hovered,
    .font__nav__link--slim:active .scale--hovered {
        transform: scale(1.12);
    }
}

/* оба слоя лежат в одной grid-ячейке */
.nav-link__stroke,
.nav-link__fill {
    grid-area: 1 / 1;
    line-height: 1.15;
}

/* обычный текст */
.nav-link__fill {
    color: inherit;
}

/* stroke по умолчанию скрыт */
.nav-link__stroke {
    display: none;
}

/* активная ссылка: нижний слой stroke */
.font__nav__link--selected .nav-link__stroke {
    display: block;

    color: transparent;
    -webkit-text-stroke: 0.5px rgba(124, 105, 105, 0.88);
}

/* активная ссылка: верхний слой holo */
.font__nav__link--selected .nav-link__fill {
    color: transparent;

    background-image: url('@/assets/img/Navbar/holo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-background-clip: text;
    background-clip: text;
}

.nav {
    position: fixed;
    top: 5px;
    right: 10px;
    left: 10px;
    z-index: 50;
    /*height: clamp(30px, 6.9vw, 100px);*/
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    border-radius: 24px 24px 24px 24px;

}

.nav__list {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav__logo {
    height: auto;
    max-height: 80%;
    width: auto;
    object-fit: contain;
}

/*.scale--active {*/
/*    display: inline-grid;*/
/*    place-items: center;*/
/*    transition: transform 0.12s ease;*/
/*    transform-origin: center;*/
/*}*/

/*.nav_button:active .scale--active {*/
/*    transform: scale(1.2);*/
/*}*/

.side-out__menu {
    background-image: url("@/assets/img/Navbar/side-out-menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    will-change: transform, opacity;
    backface-visibility: hidden;
}

/*.footer__strip {*/
/*    position: relative;*/
/*    padding-bottom: 1rem;*/
/*}*/

/*.footer__strip::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 60%;*/
/*    height: 2px;*/
/*    background: #F7F7F7;*/
/*}*/

.Header__section--blured {
    background-color: rgb(var(--color-hatStrip) / 0.05);
    backdrop-filter: blur(2px);
    box-shadow: 1px 1px 10px rgba(255, 231, 102, 0.5);
    border-radius: 24px 24px 24px 24px;
}

.Home__dividing-strip {
    align-items: center;
    width: 100%;
    height: clamp(30px, 7.64vw, 150px);
    background-image: url('@/assets/img/Home/Dividing_strip.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* верхняя линия */
.Home__dividing-strip::before {
    content: '';
    position: absolute;
    top: 0;
    left: 1%;
    width: 99%;
    height: min(max(1px, 0.139vw), 2px);
    background-color: #808585;
}

/* нижняя линия */
.Home__dividing-strip::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 1%;
    width: 99%;
    height: min(max(1px, 0.139vw), 2px);
    background-color: #808585;
}

.Home__shift-base {
    align-items: center;
    width: 100%;
    height: 15vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.Home__shift-strip {
    background-image: url("@/assets/img/Home/Shift-strip_mobile.png");
}

.Home__shift-title {
    background-image: url("@/assets/img/Home/Shift-title_mobile.png");
}

.Quote__frame {
    position: relative;
    width: 100%;
    height: auto;
}

.Quote__image {
    position: absolute;
    top: 12%;
    left: 8%;
    width: 84%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
}

.Quote__text {
    text-align: left;
    font-weight: 400;
}

.Timetable {
    position: absolute;
    text-align: center;
    color: #000000;
}

.Timetable__title {
    font-size: clamp(7px, 1.66vw, 32px);
    font-weight: 700;
}

.Timetable__shift {
    font-size: clamp(5px, 1.39vw, 27px);
    font-weight: 300;
}

.Timetable__shift-title {
    font-weight: 600;
}

.bg__strip--gradient {
    position: absolute;
    width: 100%;
    height: auto;
    background: url("@/assets/img/Home/Home_strip_gradient.png");
}

.location__border {
    border: solid min(max(1px, 0.139vw), 2px) #000000;
    border-radius: clamp(5px, 7vw, 30px)
}

.hidden_element {
    display: none;
}

@media (max-width: 1919px) {
    .footer__size {
        height: 8.7vw;
    }
}

@media (max-width: 1440px) {
    .footer__size {
        height: 8.7vw;
    }
}

@media (max-width: 1024px) {
    .footer__size {
        height: 10vw;
    }
}

@media (max-width: 767px) {
    .font__Home-body {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 450px) {
}