@import "tailwindcss";


/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
    /**
      Убираем скачок интерфейса по горизонтали
      при появлении / исчезновении скроллбара
     */
    scrollbar-gutter: stable;
    /**
      Плавный скролл
     */
    scroll-behavior: smooth;

    font-size: 16px;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
    display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
    cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
    -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
    fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
    stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}




:root {
    font-family: Comfortaa, "Comfortaa", cursive;
}

@theme {
    --color-hat: #BEB296;
    --color-hatTitle: #5B3807;
    --color-pageTitle: #6D3B09;
    --color-homeTitle: #D4710E;
    --color-locationTitle: #755F06;
    --color-locationText: #8B7B3B;
}

@utility comfortaa-300 {
                font-family: "Comfortaa", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
            }
@utility comfortaa-400 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@utility comfortaa-500 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
@utility comfortaa-600 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
@utility comfortaa-700 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

@utility scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.font__Home-header {
    @apply text-hatTitle text-[32%] comfortaa-700;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    font-size: clamp(10px, 2.22vw, 32px);
}

.font__Home-body {
    position: relative;
    @apply text-homeTitle comfortaa-700;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    font-size: clamp(15px, 2.97vw, 60px);
}

.font__Home-body::before {
    content: attr(data-text);
    position: absolute;
    z-index: -1;
    color: transparent;
    -webkit-text-stroke: 0.0176em #7c6969;
}

.font__nav__link {
    font-weight: 500;
    font-size: clamp(8px, 1.25vw, 18px);

}

.font__nav__link--selected {
    color: transparent;
    background-image: url('@/assets/img/Navbar/holo.jpg');
    background-position: center;
    background-size: 100% auto;
    -webkit-text-stroke: 0.2px rgba(124, 105, 105, 0.88);

    -webkit-background-clip: text;
    background-clip: text;

}

.nav {
    width: 100%;
    height: clamp(30px, 6.9vw, 100px);
}

.nav__list {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav__logo {
    height: auto;
    max-height: 80%;
    width: auto;
    object-fit: contain;
}

.font__nav__link {
    font-weight: 500;
    font-size: clamp(8px, 1.25vw, 18px);

}

.font__nav__link--selected {
    color: transparent;
    background-image: url('@/assets/img/Navbar/holo.jpg');
    background-position: center;
    background-size: 100% auto;
    -webkit-text-stroke: 0.2px rgba(124, 105, 105, 0.88);

    -webkit-background-clip: text;
    background-clip: text;

}

.Home__dividing-strip {
    display: flex;
    align-items: center;
    width: 100%;
    height: clamp(30px, 7.64vw, 150px);
    background-image: url('@/assets/img/Home/Dividing_strip.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: solid min(max(1px, 0.139vw), 2px) #808585;
    border-bottom: solid min(max(1px, 0.139vw), 2px) #808585;

}

.Quote__frame {
    position: absolute;
    width: clamp(130px, 32.64vw, 630px);
    height: auto;
    right: 20vw;
    bottom: 15vw;
}

.Quote__image {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    inset: 2vw 2vw 2vw 3vw;
}

.Quote__text {
    text-align: left;
    font-weight: 400;
    font-size: clamp(4px, 1.2vw, 21px);
}

.Timetable {
    position: absolute;
    text-align: center;
    color: #000000;
}

.Timetable__title {
    font-size: clamp(7px, 1.66vw, 32px);
    font-weight: 700;
}

.Timetable__shift {
    font-size: clamp(5px, 1.39vw, 27px);
    font-weight: 300;
}

.Timetable__shift-title {
    font-weight: 600;
}

.bg__strip--gradient {
    position: absolute;
    width: 100%;
    height: auto;
    background: url("@/assets/img/Home/Home_strip_gradient.png");
}

.location__border {
    border: solid min(max(1px, 0.139vw), 2px) #000000;
    border-radius: 2.08vw;
    padding: 1vw;
}

@media (max-width: 1919px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 767px) {
    .font__Home-body {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    }
}